body {
  display: grid;
  place-items: center;
  min-height: 100svh;
  margin: 0;
  padding: 0;
  background-color: #d8f0ff;
}

.container {
  width: 30%;
  background-color: #fff;
  border-radius: 10px;
  font-family: sans-serif;

  .inner {
    width: 100%;
    border-radius: 10px;
    background-color: hsl(208, 100%, 58%);
    padding: 1em;
    clip-path: circle(10% at 0% 0%);
    transition: clip-path .5s ease-in-out;
    h1 {
      color: white;
      margin: 0;
    }
    p {
      color: whitesmoke;
    }
  }
  &:hover .inner{
    // transition: clip-path 1.5s ;
    clip-path: circle(75%);
  }
}
